@use 'sass:color';
@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.offer-list-page {
  @include container;

  &__header {
    text-align: center;
    margin-bottom: $spacing-3xl;
  }

  &__title {
    @include heading-1;
    margin-bottom: $spacing-sm;

    @include mobile {
      font-size: $font-size-3xl;
    }
  }

  &__subtitle {
    @include body-text;
    font-size: $font-size-lg;
  }

  &__grid {
    @include grid;
  }

  &__empty {
    grid-column: 1 / -1;
    text-align: center;
    padding: $spacing-3xl $spacing-lg;
    color: $color-text-secondary;
    font-size: $font-size-lg;
  }

  &__end,
  &__error {
    grid-column: 1 / -1;
    text-align: center;
    padding: $spacing-2xl $spacing-lg;
  }

  &__end {
    color: $color-text-secondary;
    font-size: $font-size-lg;
  }

  &__error {
    color: $color-danger;

    button {
      margin-top: $spacing-md;
      padding: $spacing-sm $spacing-lg;
      background: $color-primary;
      color: white;
      border: none;
      border-radius: $radius-md;
      cursor: pointer;
      transition: background 0.2s;

      &:hover {
        background: color.scale($color-primary, $lightness: -10%);
      }
    }
  }
}
