@use '../../../../styles/abstracts/variables' as *;
@use '../../../../styles/abstracts/mixins' as *;

.offer-image {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: $radius-lg;
  overflow: hidden;
  background: $color-bg-tertiary;
  @include tablet {
    height: 400px;
  }
  @include mobile {
    height: 300px;
  }

  &__img {
    object-fit: cover;
  }

  &__badge {
    position: absolute;
    top: $spacing-lg;
    right: $spacing-lg;
    font-size: $font-size-sm;
    @include badge($color-primary, $color-primary);

    &--new {
      @include badge($color-condition-new, $color-condition-new);
    }
    &--like-new {
      @include badge($color-condition-like-new, $color-condition-like-new);
    }
    &--good {
      @include badge($color-condition-good, $color-condition-good);
    }
    &--fair {
      @include badge($color-condition-fair, $color-condition-fair);
    }
  }
}
